* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --text: #000;
  --text2: #E8E9EB;
  --fundo: #ffff;
  --fundo2: #313638ea;
}
body {
  background-color: var(--text2);
}

main {
  display: flex;
  margin: 6rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main h1 {
  font-size: 3rem;
  font-weight: 500;
}

form {
  display: flex;
  width: 35%;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--fundo2);
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 0.9rem;
}
.input-container label {
  color: var(--fundo);
}

.input-container input {
  padding: 8px 1rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 1rem;
}
.input-container textarea {
  height: 120px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
.input-btn {
  width: 100px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 0;
  background-color: var(--text2);
  border-radius: 10px;
  transition: 0.2s ease;
}
.input-btn:hover {
  background-color: #c1c2c4;
  border-radius: 3rem;
}
